<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Veci</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="container-form sign-in">
        <form class="formulario" th:action="@{/login}" method="post">
            <h2 class="create-account">Iniciar sesion</h2>
            <div class="iconos">
                <div class="border-icono">
                    <i class='bx bxl-gmail'></i>
                </div>
            </div>
            <label for="miSelect"></label>
        <select id="miSelect" name="miSelect">
            <option value="opcion1">Seleccione tipo de usuario</option>
            <option value="opcion2">Vendedor</option>
            <option value="opcion3">Cliete</option>
        </select>
            <p class="account">¿No tienes cuenta?</p>
            <label class="form-control" for="email">Correo</label>
            <input id="email" type="email" class="form-control" th:field="{email}" required autofocus="autofocus">
            <label class="form-control" for="password">Contraseña</label>
            <input id="password" type="password" class="form-control" th:field="{password}" required autofocus="autofocus">
            <button type="submit" class="button">Iniciar Sesion</button>
            <div class="row">
                <div th:if=${param.error}>
                    <div class="alert alert-danger">
                        Usuario o contraseña invalidos
                    </div>
                </div>
            </div>
        </form> 
        <div class="welcomeback">
            <div class="message">
                <h2>Crear una Cuenta</h2>
                <p>Si aun no tienes una cuenta por favor registrarse aqui</p>
                <button class="sign-in-btn">Registrarse</button>
            </div>
        </div> 
          
    </div>

    <div class="container-form sign-up">
        <div class="welcomeback">
            <div class="message">
                <h2>Iniciar Sesion</h2>
                <p>Si ya tienes una cuenta por favor iniciar sesion aqui</p>
                <button class="sign-up-btn">Iniciar Sesion</button>
            </div>
        </div> 
        <div class="row">
            <div th:if=${param.exito}>
                <form class="formulario" th:action="@{/registro}" method="post" th:object="${usuario}">
                    <h2 class="create-account">Crear una cuenta</h2>
                    <div class="iconos">
                        <div class="border-icono">
                            <i class='bx bxl-gmail'></i>
                        </div>
                    </div>
                    <select id="miSelect" name="miSelect">
                        <option value="opcion1">Seleccione tipo de usuario</option>
                        <option value="opcion2">Vendedor</option>
                        <option value="opcion3">Cliente</option>
                    </select>
                    <p class="account">Crear una cuenta</p>
                    <label class="form-control" for="username">Nombre</label>
                    <input id="username" type="text" class="form-control" th:field="{nombre}" required autofocus="autofocus">
                    <label class="form-control" for="email">Correo</label>
                    <input id="email" type="email" class="form-control" th:field="{email}" required autofocus="autofocus">
                    <label class="form-control" for="password">Contraseña</label>
                    <input id="password" type="password" class="form-control" th:field="{password}" required autofocus="autofocus">
                    <button type="submit" class="button">Registrarse</button>
                    <br>      
                    <div class="alert alert-info">
                    Ha sido registrado exitosamente
                    </div>      
                </form>
            </div> 
        </div>  
    </div>


    <script src="script.js"></script>
    
    
</body>
</html>