* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #070707; */
    /* background-image: url('./assets/fondo1.png'); */
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcomeback {
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    background-color: rgba(216, 208, 204, 0.602);
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #fff;
    border-radius: 2rem;
    border: white thin solid;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #070707;
}

.message button:hover {
    background-color: #e4dfd7; 
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    background-color: rgba(216, 208, 204, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icono {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icono:hover {
    background-color: #e4dfd7;
    cursor: pointer;
}

.account {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario button[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #070707;
}

select{
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #070707;
}

.formulario input[type="button"]:hover{
    background-color: #f78f07;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

/* Estilos para el botón en la parte superior izquierda */

.highlight-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.highlight-button:hover {
    background-color: #e4dfd7;
    color: #070707;
}
